/*
  elm-hot creates an additional div wrapper around the app to make HMR possible.
  This could break styling in development mode if you are using Elm UI.

  More context in the issue:
    https://github.com/halfzebra/create-elm-app/issues/320
*/

@tailwind base;
@tailwind components;
@tailwind utilities;

[data-elm-hot="true"] {
  height: inherit;
}

.wrapper {
  max-width: 150rem;
  margin: auto;
}

h1 {
  font-size: 30px;
}

.row {
  height: 3em;
  margin-bottom: 1em;
}

.container {
  margin: 0 0 !important;
}


.total {
  text-align: left;
  width: 1em;
}

textarea {
  border: none !important;
}

td>input {
  border: none !important;
}

.select-new-line {
  width: inherit;
  margin-bottom: 2em;
}

.delete {
  cursor: pointer;
  color: red;
  margin-right: 1em;
}


table {
  position: relative;
  border-collapse: collapse;
}

td,
th {
  padding: 0.25em;
}

thead th {
  position: -webkit-sticky;
  position: sticky;
  top: 0em;
  background: #FFF;
}

thead th:first-child {
  left: 0;
  z-index: 1;
}

tbody th {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
}

.creation-links {
  list-style-type: none;
  margin-bottom: 0px;
  font-size: 0.8em;

}

.creation-links>li {
  float: right;
  margin-right: 1em;
  cursor: pointer;
  margin-bottom: 0px;
}

.creation-links>li>a {
  color: #606c76;
}

.creation-links>li>a:hover {
  text-decoration: underline;
}

.negative {
  color: red;
}

.negative::after {
  color: red;
  content: "⚠";
}

th.nom {
  min-width: 20%;
}

th.more {
  min-width: 7em;
}

tr.empty {
  position: relative;
  border-left: 5px black solid !important;
}

a {
  cursor: pointer;
}

.actions {
  opacity: 0;
}

tr:hover .actions {
  opacity: 1;
}

textarea:focus,
input:focus {
  outline: none;
}